
{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background: linear-gradient(to bottom right, #ff69b4, #00bfff);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: Arial, sans-serif;
        }
    </style>

    <h1>Логические игры</h1>
    <br>
    <h3>Задание №1(id 1). Найди пару</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=15821141" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №2(id 2). Что чем едят?</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=4883643" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 3). Духовные и материальные ценности</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=16219402" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 4). Раздели на группы</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=14382557" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 5). Лотерея памяти</h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=19460021" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h1>Арифметически игры</h1>
    <br>
    <h3>Задание №1(id 6). Задачи на движение</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=6134703" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №2(id 7). Табличное умножение и деление</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=15814210" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 8). Табличное деление с остатком</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=14234300" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 9). Задачи на нахождение периметра фигур</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=25876729" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 10). Выбери остаток </h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=3062834" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h1>География</h1>
    <br>
    <h3>Задание №1(id 11). Страны и столицы Европы </h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=51805" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>


    <br><br>
    <h3>Задание №2(id 12). Страны мира</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=402156" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 13). Растения и животные природных зон</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=665508" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 14). Материки и океаны</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=17629" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 15). Равнины и горы</h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=2748531" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <a class="back-button" href="{% url 'home' %}">Главная</a>

{% endblock %}
