{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background: linear-gradient(to bottom right, #ff69b4, #00bfff);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: Arial, sans-serif;
        }
    </style>
    <h1>Логические игры</h1>

    <br><p1>Задание №1(id 1). Сложность Простая</p1><br>
    <p1>Найди пару</p1>

    <br>
    <br>

      <iframe src="https://learningapps.org/watch?app=15821141" style="border:100px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button class="submit-button" type="submit">отправить результат</button>
        </form>
        <br><br><p1>Задание №2(id 2). Сложность Простая</p1><br>
    <p1>Что чем едят?</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=4883643" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button class="submit-button" type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №3(id 3). Сложность Средняя</p1><br>
    <p1>Духовные и материальные ценности</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=16219402" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №4(id 4). Сложность Средняя</p1><br>
    <p1>Раздели на группы</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=14382557" style="border:0px;width:width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>

    <br><br><p1>Задание №5(id 5). Сложность Высокая </p1><br>
    <p1>Лотерея памяти</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=19460021" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br>
    <br>
    <b>Арифметически игры</b>

    <br><br><p1>Задание №1(id 6). Сложность Простая</p1><br>
    <p1>Задачи на движение</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=6134703" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №2(id 7). Сложность Простая </p1><br>
    <p1>Табличное умножение и деление</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=15814210" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №3(id 8). Сложность Средняя</p1><br>
    <p1>Табличное деление с остатком</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=14234300" style="border:100px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}

        <button class="submit-button" type="submit">отправить результат</button>
    </form>
    <br>
    <br>
    <p1>Задание №4(id 9). Сложность Средняя</p1><br>
    <p1>Задачи на нахождение периметра фигур</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=25876729" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>


<br><br><p1>Задание №5(id 10). Сложность Высокая </p1><br>
    <p1>выбери остаток</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=3062834" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>

     <br>
    <br>
    <b>География</b>

<br><br><p1>Задание №1(id 11). Сложность Простая </p1><br>
    <p1>Страны и столицы Европы</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=51805" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>


<br><br><p1>Задание №2(id 12). Сложность Простая </p1><br>
    <p1>Страны мира</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=402156" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №3(id 13). Сложность Средняя </p1><br>
    <p1>Растения и животные природных зон</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=665508" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №4(id 14). Сложность Средняя</p1><br>
    <p1>Материки и океаны</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=17629" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>
    <br><br><p1>Задание №5(id 15). Сложность Высокая </p1><br>
    <p1>Равнины и горы</p1>

    <br>
    <br>
    <iframe src="https://learningapps.org/watch?app=2748531" style="border:0px;width:1000px;height:600px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'children' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <button type="submit">отправить результат</button>
        </form>


    <a class="back-button" href="{% url 'home' %}">Главная</a>

{% endblock %}
