

{% extends 'base.html' %}

{% block content %}
    <style>
    .section-title {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    </style>

    <h1>Вход</h1>
    <hr>
    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="login-form">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="submit-button">Войти</button>
    </form>

    <a class="back-button" href="{% url 'home' %}">Главная</a>
    <a style="font-size: 15px" class="section-title forget-password" href="{% url 'password_reset' %}">Забыли пароль?</a>
{% endblock %}