

{% extends 'base.html' %}

{% block content %}
    <h1>Регистрация</h1>

    <h5 style="text-align: center">Примечание:</h5>
    <h5>Пароль не должен быть слишком похож на другую вашу личную информация<br>
        Пароль должен содержать не менее 8 символов<br>
        Пароль не может быть полностью цифровым
    </h5>


    <form class="register" action="{% url 'register' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="submit-button">Зарегистрироваться</button>
    </form>
    <a class="back-button" href="{% url 'home' %}">Главная</a>
{% endblock %}