
{% extends 'base.html' %}

{% block content %}

    <style>
        body {
            background: linear-gradient(to bottom right, #ff69b4, #00bfff);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: Arial, sans-serif;
        }
    </style>

    <h1>Логические игры</h1>
    <br>
    <h3>Задание №1(id 16). Найди пару</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=1178486" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №2(id 17). Путаница</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=12234489" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 18). Проверка на внимательность</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=3118401" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 19). Овощи и фрукты</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=2099139" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 20). Свойства восприятия</h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=1670245" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h1>Арифметические игры</h1>
    <br>
    <h3>Задание №1(id 21). Выражение величин из формул</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=7596015" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №2(id 22). Масштаб</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=3146459" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 23). Базовая математика</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=7645986" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 24). Экстреумы функции</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=2853634" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 25). Комплексная работа по математике</h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=5859276" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h1>География</h1>
    <br>
    <h3>Задание №1(id 26). Города России</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=10689150" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №2(id 27). Географические координаты</h3>
    <h4>Сложность: простая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=1219819" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №3(id 28). Мир звезд</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=3017384" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №4(id 29). Зона смешанных и широколиственных лесов</h3>
    <h4>Сложность: средняя</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=1485028" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <br><br>
    <h3>Задание №5(id 30). Моря, омывающие берега Евразии</h3>
    <h4>Сложность: высокая</h4>
    <br>
    <iframe class="game" src="https://learningapps.org/watch?app=3236548" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    <form action="{% url 'teen' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="submit-button" type="submit">отправить</button>
    </form>

    <a class="back-button" href="{% url 'home' %}">Главная</a>

{% endblock %}
