
{% extends 'base.html' %}

{% block content %}

    <style>
    .children-games-button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #d45a97;
        color: #fff;
        border-radius: 30px;
        margin: 10px;
        transition: background-color 0.3s ease;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     a.children-games-button:hover{
         background-color: #ff3381;
         text-decoration: none;
         color: #fff;
     }
    .play-button {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease, color 0.3s ease;
        padding: 17px 35px;
        background-image: linear-gradient(-45deg, #00ff00, #008000, #00ff00);
        background-size: 400% 400%;
        animation: gradientAnimation 5s linear infinite;
    }

    .play-button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        text-decoration: none;
        color: #fff;

    </style>

    <div class="class-container">
        <form class="class-form choose" action="#" method="post">
            <a href="{% url 'children' %}" class="children-games-button form-label test">Игры для детей</a>
            <a href="{% url 'teen' %}" class="children-games-button form-label">Игры для  подростков</a>

        </form>
    </div>
    <br><br>
    <a class="play-button" href="{% url 'disk' %}">Как играть?</a><br>

    <a class="profile-button" href="{% url 'profile' %}">Профиль</a>
    <a class="back-button" href="{% url 'home' %}">Главная</a>
    <a class="support-button" href="{% url 'support' %}">Поддержка</a>

{% endblock %}