{% extends 'base.html' %}

{% block content %}
<p>
<h4>У каждой игры есть свой уникальный ID (он написан над игрой). </h4>

<h4>После прохождения игры вам нужно вручную сохранить результат игры, для этого вам следует ввести её ID в окошко под игрой, после чего нажать на кнопку отправить. Результат игры сохранен!</h4>
<br>
<h3><b><font color="white">ДИСКЛЕЙМЕР</font></b></h3>

</p>
<b>
<font color="white" size="4">Здравствуй, дорогой посетитель нашего сайта! Если ты правда пришел сюда чтобы развиваться, то, пожалуйста, будь честен перед собой и отмечай только пройденные задания. Ведь не имеет смысла  отмечать все задания сразу, потому что так ты не будешь расти умом. Научись быть честным, мы верим в тебя!</font>
<!--<img _ngcontent-c24="" class="ng-star-inserted" src="https://www.meme-arsenal.com/memes/a8b7df117bfb947dec63f5108f299b51.jpg" width="800" height="600">-->
<a class="login-button" href="{% url 'choose' %}">Прочитали? Тогда можно начинать играть!</a>
</b>
{% endblock %}

