{% extends 'base.html' %}

{% block content %}
    <style>
    /* Стили для центрирования формы */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Это обеспечит вертикальное центрирование */
    }

    #form_message {
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .titles {
        font-weight: bold;
    }

    .input,
    textarea {
        width: 100%;
        padding: 5px;
    }

    textarea {
        resize: vertical; /* Разрешить вертикальное изменение размера текстового поля */
    }
    </style>
    <form name="form" action="{% url 'support' %}" method="post" >
        {% csrf_token %}
        <h1>Форма обратной связи</h1>
        <p><div class="titles">Ваше имя:</div> {{ nickname }}</p>
        <p><div class="titles">Электронная почта:</div> {{ email }}</p>
        <p><div class="titles">Текст сообщения:</div>{{ form }}</p>
        <button class="submit-button" type="submit">Отправить</button>

    </form>

<a class="back-button" href="{% url 'home' %}">Главная</a>

{% endblock %}