
{% extends 'base.html' %}

{% block content %}
    <style>
    /* Стили для центрирования формы */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Это обеспечит вертикальное центрирование */
    }

    #form_message {
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .titles {
        font-weight: bold;
    }

    .input,
    textarea {
        width: 100%;
        padding: 5px;
    }

    textarea {
        resize: vertical; /* Разрешить вертикальное изменение размера текстового поля */
    }
    </style>
    <form name="form" action="mail.php" method="post" id="form_message">
        <h1>Форма обратной связи</h1>
        <p><div class="titles">Ваше имя*</div> <input class="input" name="name" type="text"/></p>
        <p><div class="titles">Электронная почта*</div> <input class="input" name="email" type="text"/></p>
        <p><div class="titles">Тема сообщения</div> <input class="input" name="subjects" type="text"/></p>
        <p><div class="titles">Текст сообщения:</div><textarea name="message" cols="22" rows="5"></textarea></p>
    </form>
    <a class="submit-button" href="{% url 'send' %}">Отправить</a>

{% endblock %}